settings.json
test_out/
tests-out/xori/Bank3
tests-out/xori/Bank2
tests-out/xori/Bank1
tests-out/xori/Bank0
tests-out/xori/Bank
tests-out/xor/Bank3
tests-out/xor/Bank2
tests-out/xor/Bank1
tests-out/xor/Bank0
tests-out/xor/Bank
tests-out/tty/Bank3
tests-out/tty/Bank2
tests-out/tty/Bank1
tests-out/tty/Bank0
tests-out/tty/Bank
tests-out/test/Bank3
tests-out/test/Bank2
tests-out/test/Bank1
tests-out/test/Bank0
tests-out/test/Bank
tests-out/sw-push-pop/Bank3
tests-out/sw-push-pop/Bank2
tests-out/sw-push-pop/Bank1
tests-out/sw-push-pop/Bank0
tests-out/sw-push-pop/Bank
tests-out/sw-lw/Bank3
tests-out/sw-lw/Bank2
tests-out/sw-lw/Bank1
tests-out/sw-lw/Bank0
tests-out/sw-lw/Bank
tests-out/sub/Bank3
tests-out/sub/Bank2
tests-out/sub/Bank1
tests-out/sub/Bank0
tests-out/sub/Bank
tests-out/slti/Bank3
tests-out/slti/Bank2
tests-out/slti/Bank1
tests-out/slti/Bank0
tests-out/slti/Bank
tests-out/slt/Bank3
tests-out/slt/Bank2
tests-out/slt/Bank1
tests-out/slt/Bank0
tests-out/slt/Bank
tests-out/rnd/Bank3
tests-out/rnd/Bank2
tests-out/rnd/Bank1
tests-out/rnd/Bank0
tests-out/rnd/Bank
tests-out/push/Bank3
tests-out/push/Bank2
tests-out/push/Bank1
tests-out/push/Bank0
tests-out/push/Bank
tests-out/push-pop/Bank3
tests-out/push-pop/Bank2
tests-out/push-pop/Bank1
tests-out/push-pop/Bank0
tests-out/push-pop/Bank
tests-out/pop/Bank3
tests-out/pop/Bank2
tests-out/pop/Bank1
tests-out/pop/Bank0
tests-out/pop/Bank
tests-out/ori/Bank3
tests-out/ori/Bank2
tests-out/ori/Bank1
tests-out/ori/Bank0
tests-out/ori/Bank
tests-out/or/Bank3
tests-out/or/Bank2
tests-out/or/Bank1
tests-out/or/Bank0
tests-out/or/Bank
tests-out/nor/Bank3
tests-out/nor/Bank2
tests-out/nor/Bank1
tests-out/nor/Bank0
tests-out/nor/Bank
tests-out/mycase/Bank3
tests-out/mycase/Bank2
tests-out/mycase/Bank1
tests-out/mycase/Bank0
tests-out/mycase/Bank
tests-out/mulu/Bank3
tests-out/mulu/Bank2
tests-out/mulu/Bank1
tests-out/mulu/Bank0
tests-out/mulu/Bank
tests-out/mult/Bank3
tests-out/mult/Bank2
tests-out/mult/Bank1
tests-out/mult/Bank0
tests-out/mult/Bank
tests-out/mem/Bank3
tests-out/mem/Bank2
tests-out/mem/Bank1
tests-out/mem/Bank0
tests-out/mem/Bank
tests-out/mcd/Bank3
tests-out/mcd/Bank2
tests-out/mcd/Bank1
tests-out/mcd/Bank0
tests-out/mcd/Bank
tests-out/liset/Bank3
tests-out/liset/Bank2
tests-out/liset/Bank1
tests-out/liset/Bank0
tests-out/liset/Bank
tests-out/lemp/Bank3
tests-out/lemp/Bank2
tests-out/lemp/Bank1
tests-out/lemp/Bank0
tests-out/lemp/Bank
tests-out/jmp/Bank3
tests-out/jmp/Bank2
tests-out/jmp/Bank1
tests-out/jmp/Bank0
tests-out/jmp/Bank
tests-out/hello/Bank3
tests-out/hello/Bank2
tests-out/hello/Bank1
tests-out/hello/Bank0
tests-out/hello/Bank
tests-out/halt/Bank3
tests-out/halt/Bank2
tests-out/halt/Bank1
tests-out/halt/Bank0
tests-out/halt/Bank
tests-out/divu/Bank3
tests-out/divu/Bank2
tests-out/divu/Bank1
tests-out/divu/Bank0
tests-out/divu/Bank
tests-out/divu-mulu-bne/Bank3
tests-out/divu-mulu-bne/Bank2
tests-out/divu-mulu-bne/Bank1
tests-out/divu-mulu-bne/Bank0
tests-out/divu-mulu-bne/Bank
tests-out/div/Bank3
tests-out/div/Bank2
tests-out/div/Bank1
tests-out/div/Bank0
tests-out/div/Bank
tests-out/div-mult-bne/Bank3
tests-out/div-mult-bne/Bank2
tests-out/div-mult-bne/Bank1
tests-out/div-mult-bne/Bank0
tests-out/div-mult-bne/Bank
tests-out/code/Bank3
tests-out/code/Bank2
tests-out/code/Bank1
tests-out/code/Bank0
tests-out/code/Bank
tests-out/bne/Bank3
tests-out/bne/Bank2
tests-out/bne/Bank1
tests-out/bne/Bank0
tests-out/bne/Bank
tests-out/bltz/Bank3
tests-out/bltz/Bank2
tests-out/bltz/Bank1
tests-out/bltz/Bank0
tests-out/bltz/Bank
tests-out/blez/Bank3
tests-out/blez/Bank2
tests-out/blez/Bank1
tests-out/blez/Bank0
tests-out/blez/Bank
tests-out/bgtz/Bank3
tests-out/bgtz/Bank2
tests-out/bgtz/Bank1
tests-out/bgtz/Bank0
tests-out/bgtz/Bank
tests-out/beq/Bank3
tests-out/beq/Bank2
tests-out/beq/Bank1
tests-out/beq/Bank0
tests-out/beq/Bank
tests-out/andi/Bank3
tests-out/andi/Bank2
tests-out/andi/Bank1
tests-out/andi/Bank0
tests-out/andi/Bank
tests-out/and/Bank3
tests-out/and/Bank2
tests-out/and/Bank1
tests-out/and/Bank0
tests-out/and/Bank
tests-out/addi/Bank3
tests-out/addi/Bank2
tests-out/addi/Bank1
tests-out/addi/Bank0
tests-out/addi/Bank
tests-out/add/Bank3
tests-out/add/Bank2
tests-out/add/Bank1
tests-out/add/Bank0
tests-out/add/Bank
